# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto
*.csproj -text merge=union
*.sln -text merge=union
*.ruleset -text merge=union

# Explicitly declare files we do not want to be converted 
*.js -text
*.css -text
*.less -text
